*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 16px;
  gap: 32px;
}

.links-nav ul {
  display: flex;
  gap: 32px;
}

.links-nav ul li {
  list-style: none;
}

.links-nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
}

.btn-nav {
  border: none;
  background-color: #469165;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  padding: 12.5px 16px;
  cursor: pointer;
}

.btn-nav:hover {
  background-color: #4a725b;
}

.banner{
    background: url("../assets/hero-bg.png");
    background-size: cover;
    height: 674px;
    background-repeat: no-repeat;
}

.gap-banner{
    display: inline-block;
}

.text-banner{
    justify-items: center;
}

.live-indicator .live-indicator-btn{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    color: #469165;
    border: none;
    border-radius: 1000px;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 6px;
    margin: 100px 0 16px 0;
    cursor: pointer;
}

.live-indicator .live-indicator-btn:hover{
    background-color:rgb(224, 230, 233);
}

.live-indicator .live-indicator-btn img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.all-text-banner{
    justify-items: center;
}

.all-text-banner h1{
    width: 770px;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    text-align: center;
}

.all-text-banner h1 .all-text-banner-white{
    color: #FFFFFF;
}

.all-text-banner h1 .all-text-banner-green{
    color: #30B868;
}

.all-text-banner p {
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 16px;
    font-weight: 400;
}

.btn{
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.all-text-banner .btn-banner-1{
    gap: 12.19px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 16.5px 16px;
    cursor: pointer;
}

.all-text-banner .btn-banner-1:hover{
    background-color: #4a725b;
}

.all-text-banner .btn-banner-1 img{
    margin-bottom: -3.8px;
}

.all-text-banner .btn-banner-2{
    font-size: 16px;
    font-weight: 600;
    gap: 10.94px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-items:center;
    align-items: center;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 16.5px 16px;
    cursor: pointer;
}

.all-text-banner .btn-banner-2:hover{
    background-color: rgb(0, 0, 0);
}

.all-text-banner .btn-banner-2 img {
    width: 14.38px;
    height: 16.87px;
    margin-bottom: -3.8px;
}

