* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 16px;
  gap: 32px;
}

.links-nav ul {
  display: flex;
  gap: 32px;
}

.links-nav ul li {
  list-style: none;
}

.links-nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
}

.btn-nav {
  border: none;
  background-color: #469165;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  padding: 12.5px 16px;
  cursor: pointer;
}

.btn-nav:hover {
  background-color: #4a725b;
}

.banner {
  background: url("../assets/hero-bg.png");
  background-size: cover;
  height: 674px;
  background-repeat: no-repeat;
}

.gap-banner {
  display: inline-block;
}

.text-banner {
  justify-items: center;
}

.live-indicator .live-indicator-btn {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  color: #469165;
  border: none;
  border-radius: 1000px;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 6px;
  margin: 100px 0 16px 0;
  cursor: pointer;
}

.live-indicator .live-indicator-btn:hover {
  background-color: rgb(224, 230, 233);
}

.live-indicator .live-indicator-btn img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.all-text-banner {
  justify-items: center;
}

.all-text-banner h1 {
  width: 770px;
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  text-align: center;
}

.all-text-banner h1 .all-text-banner-white {
  color: #ffffff;
}

.all-text-banner h1 .all-text-banner-green {
  color: #30b868;
}

.all-text-banner p {
  font-size: 18px;
  color: #ffffff;
  padding-top: 16px;
  font-weight: 400;
}

.btn {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.all-text-banner .btn-banner-1 {
  gap: 12.19px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  background-color: #469165;
  color: #ffffff;
  border-radius: 4px;
  padding: 16.5px 16px;
  cursor: pointer;
}

.all-text-banner .btn-banner-1:hover {
  background-color: #4a725b;
}

.all-text-banner .btn-banner-1 img {
  margin-bottom: -3.8px;
}

.all-text-banner .btn-banner-2 {
  font-size: 16px;
  font-weight: 600;
  gap: 10.94px;
  border: 1px solid #ffffff;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: transparent;
  color: #ffffff;
  border-radius: 4px;
  padding: 16.5px 16px;
  cursor: pointer;
}

.all-text-banner .btn-banner-2:hover {
  background-color: rgb(0, 0, 0);
}

.all-text-banner .btn-banner-2 img {
  width: 14.38px;
  height: 16.87px;
  margin-bottom: -3.8px;
}

.Early-Access {
  justify-items: center;
}

.Early-Access h1 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  max-width: 1360px;
  padding-top: 50px;
}

.Early-Access p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 16px;
}

.Notes-Section .all-card {
  display: flex;
  justify-content: center;
}

.Notes-Section .all-card .card {
  justify-items: center;
  text-align: center;
  margin-top: 44px;
  padding: 69.5px 24px;
}

.all-card .card-image img {
  background-color: #f95555;
  padding: 14.4px 13.91px 13.96px 14.9px;
  border-radius: 100px;
  margin-top: 69.5px;
}

.all-card .card h1 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  padding-top: 16px;
  width: 274px;
}

.all-card .card p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 16px;
  width: 274px;
}

.Second-Brain-Section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;

}

.Second-Brain-Section .image-content-main-1 {
  width: 600px;
  height: 600px;
}

.Second-Brain-Section .content {
  width: 700px;
  text-align: left;
  padding: 102px 0 102px 60px;
}

.Second-Brain-Section .content .p-1 {
  width: 700px;
  color: #469165;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
}

.Second-Brain-Section .content h1 {
  color: #001931;
  font-weight: bold;
  font-size: 48px;
  width: 515px;
  padding-top: 16px;
}

.Second-Brain-Section .content .p-2 {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 16px;
  width: 483px;
}

.Second-Brain-Section .content .list ul {
  padding-top: 40px;
}

.Second-Brain-Section .content .list ul li {
  list-style: none;
  display: flex;
  gap: 7.87px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #001931;
}

.content-main-2{
    padding: 80px 40px;
    justify-items: center;
}

.content-main-2 h1{
    color: #001931;
    font-size: 40px;
    font-weight: bold;
}

.content-main-2 p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 16px;
}

.content-main-2 .button .btn-content-main-2{
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 16.5px 16px;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 12.19px;
    margin-top: 24px;
    cursor: pointer;
}

.content-main-2 .button .btn-content-main-2 img{
    margin-bottom: -3.8px;
}

.content-main-2 .button .btn-content-main-2:hover{
    box-shadow: 1px 2px 10px grey;
    background-color: #4a725b;
}

.content-main-2 .bottom-message{
    padding-top: 16px;
    margin-bottom: 80px;
}

.footer{
    background-color: #001931;
    height: 348px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 80px 120px;
}

.social-links-footer{
    padding-right: 107px;
}

.footer-content .social-links-footer h5{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    width: 113px;
}

.social-links-footer .social-links a img{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    margin-top: 16px;
}


.footer .line {
    padding: 0 120px;
    color: #E5E7EB;
    
}

.footer .copyright{
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;
    line-height: 24px;
    padding-top: 30px;
    justify-items: center;
}


